<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div>
  <div class="grid">
    <div class="col-12 md:col-10 lg:col-10 m-auto">
      <div class="grid">
        <div class="col-12">
         <app-top-bar></app-top-bar>
        </div>
        <div class="col-12 lg:col-3 md:col-4">
          <app-side-bar-menu></app-side-bar-menu>
        </div>

        <div class="col-12 lg:col-9 md:col-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
<app-edit-product #editor></app-edit-product>
